body {
    margin: 0px;
}
p {
    margin: 0px;
}

.landing-page-container {
    min-width: 535px;
}
.landing-page-intro {
    display: flex;
    justify-content: center;
}
.landing-page-intro p {
    margin: 0px;
    font-size: 30px;
}
.primary-btn {
    margin-left: 20px;
}
.main-primary-btn {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    transition: 0.3s;
    border-radius: 5px;
    background-color: #eb6b45;
}
.main-primary-btn:hover {
    cursor: pointer;
    color: white;
    background-color: #E64A19;
}
.main-primary-btn span {
    font-size: 30px;
    margin-left: 10px;
}


.header-container {
    background-color: #FF8A65;
    position: sticky;
    top: 0px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
.link-logo {
    width: 500px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.link-logo p {
    margin: 0px;
    font-size: 60px;
    text-transform: uppercase;
    color: white;
}
.link-logo span {
    color: #E64A19;
}
.header-links {
    display: flex;
    align-items: center;
}
.main-header-links {
    text-decoration: none;
    font-size: 23px;
    text-transform: uppercase;
    margin-right: 45px;
    color: white;
}
.main-header-links:hover {
    color: #E64A19;
}
.secondary-btn a {
    text-decoration: none;
}
.secondary-btn p {
    font-size: 20px;
    cursor: text;
    color: black;
}
.main-secondary-btn {
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 20px;
    margin-left: 20px;
    border-radius: 10px 0px 0px 10px;
    transition: 0.5s;
    background-color: #FF8A65;
}
.main-secondary-btn span {
    font-size: 24px;
}
.secondary-btn span {
    color: #E64A19;
}
.main-secondary-btn:hover {
    cursor: pointer;
    background-color: #E64A19;
    color: white;
}
.main-secondary-btn span:hover {
    color: #FF8A65;
}
.navicon {
    width: 100%;
    font-size: 40px;
    display: none;
}
.navicon i {
    transition: 0.3s;
}
.navicon span {
    margin-right: 10px;
}
.navicon i:hover {
    cursor: pointer;
    color: #E64A19;
}

@media (max-width: 1743px) {
    .header-container {
        padding: 30px 0px;  
    }
    .secondary-btn p {
        display: none;
    }
}
@media (max-width: 1597px) {
    .link-logo p {
        font-size: 30px;
    }
    .link-logo span {
        font-size: 30px;
    }
}
@media (max-width: 1450px) {
    .header-links {
        display: none;
    }
    .navicon {
        padding-right: 20px;
        display: inline-block;
        display: flex;
        justify-content: flex-end;
    }
}

.landing-image-container {
    background-image: url('/images/download\ \(3\).jpg');
    background-size: cover;
    padding: 30px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.landing-image-content {
    width: 400px;
    padding: 20px;
    background-color: #e0562c;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.landing-image-content p {
    margin: 0px;
    font-size: 50px;
    text-transform: capitalize;
    text-align: center;
}
.landing-image-content:hover {
    cursor: pointer;
    background-color: #eb6b45;
    color: white;
}
.landing-image-content:active {
    background-color: #bd4b28;
}
.main-landing-image-content {
    margin-top: 30px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.main-landing-image-content-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 40px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
    background-color: #eb6b45;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 658px) {
    .landing-image-content p {
        margin: 0px;
        font-size: 30px;
        text-transform: capitalize;
        text-align: center;
    }
    .main-landing-image-content {
        margin-top: 30px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
}


.about-container {
    margin-top: 150px;
}
.about-header {
    width: 180px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.about-header p {
    margin: 0px;
    font-size: 50px;
    text-transform: uppercase;
    color: #E64A19;
}
.about-links-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main-about-link {
    color: rgb(211, 206, 206);
    opacity: 0.9;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    padding: 20px;
    box-shadow: 1px 1px 10px;
}
.main-about-link p {
    margin: 0px;
    font-size: 40px;
    text-transform: capitalize;
}
.about-image {
    width: 250px;
    height: 250px;
    margin-top: 20px;
    border-radius: 50%;
}
.main-about-link:hover {
    cursor: pointer;
    opacity: 1;
    color: black;
}

.contact-container {
    margin-top: 200px;
    box-shadow: 1px 1px 10px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main-contact-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.contact-text {
    margin-left: 50px;
    text-align: center;
    box-shadow: 1px 1px 10px;
    padding: 20px;
    margin: 20px 20px;
    transition: 0.3s;
}
.contact-text p {
    margin: 0px;
    font-size: 60px;
}
.contact-text i {
    margin: 0px;
    font-size: 60px;
    margin-top: 60px;
    color: #E64A19;
}
.contact-text:hover {
    cursor: pointer;
    background-color: #eb6b45;
    color: white;
}

.fixed-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eb6b45;
}
.fixed-btn i {
    font-size: 50px;
}
.fixed-btn:hover {
    cursor: pointer;
    background-color: #E64A19;
    color: white;
}



.studies-container {
    margin-top: 150px;
    min-width: 791px;
    white-space: wrap;
}
.studies-header p {
    margin: 0px;
    margin-bottom: 100px;
    font-size: 70px;
    text-transform: uppercase;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #963112;
}
.studies-content-container {
    display: flex;
    justify-content: center;
    /* margin-left: 100px; */
    margin-right: 0px;
}
.studies-subheader p {
    margin: 0px;
    font-size: 30px;
    text-transform: uppercase;
    color: #963112;
}
/* .studies-content-pt1-text {
    width: 600px;
} */
.studies-content-pt1-text p {
    margin: 0px;
    font-size: 25px;
    line-height: 35px;
}
.mole-definition {
    margin: 30px 0px;
    /* width: 550px; */
    font-size: 25px;
    padding: 20px;
    background-color: #eb6b45;
}
.mole-definition p {
    margin: 0px;
}
.meaning-of-mole p {
    margin: 0px;
    font-size: 25px;
}
.main-meaning-of-mole {
    font-size: 25px;
    /* width: 600px; */
}
.main-meaning-of-mole ul {
    margin: 0px;
}
.main-meaning-of-mole-conclude {
    /* width: 600px; */
    line-height: 36px;
}
.RAM-container {
    /* width: 600px; */
    margin-top: 30px;
}
.RAM-heading p {
    margin: 0px;
    font-size: 26px;
}
.RAM-text {
    font-size: 25px;
}
.RAM-formula {
    font-size: 20px;
    background-color: #eb6b45;
    padding: 20px;
    margin: 10px 0px;
}
.rmula-part1 {
    position: relative;
    top: 10px;
}
.formula-part2 {
    /* border: 1px solid fuchsia; */
    position: relative;
    top: -28px;
    left: 200px;
}
.divide-layer {
    background-color: black;
    width: 350px;
    height: 1px;
}
.RAM-formula-conclude {
    /* width: 600px; */
    font-size: 25px;
}
.RAM-formula-conclude b {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.seperation {
    border: 2px solid rgb(63, 62, 62);
    margin-left: 100px;
    margin-right: 100px;
}


/* .studies-content-pt2 {
    margin-left: 0px;
    margin-right: 100px;
} */
.RAM-formula-conclude-continue {
    /* width: 600px; */
    font-size: 25px;
}
.RAM-formula-conclude-continue ul {
    margin: 0px;
    margin-top: 10px;
}
.carbon-12-scale {
    /* width: 600px; */
    font-size: 25px;
}
.defining-RAM {
    margin-top: 5px;
    /* width: 550px; */
    font-size: 25px;
    background-color: #f7977a;
    padding: 20px;
}
.RAM-formula.change {
    background-color: #f87e59;
}
.defining-RAM-conclude p {
    margin: 0px;
    /* width: 600px; */
    font-size: 25px;
}

.RMM-container {
    margin-top: 30px;
}
.RMM-header h2 {
    margin: 0px;
}
.defined-RMM {
    /* width: 600px; */
    font-size: 25px;
}
.RAM-formula.RMM {
    background-color: #FF8A65;
    margin: 0px;
}
.formula-part2.ed {
    margin-left: 20px;
}
.RMM-explan-formula {
    /* width: 600px; */
    font-size: 25px;
    line-height: 35px;
}
.RMM-explan-formula span {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.MM-container {
    margin-top: 30px;
}
.MM-header h2 {
    margin: 0px;
}
.MM-definition {
    /* width: 600px; */
    font-size: 25px;
    line-height: 35px;
}
.MM-definition span {
    color: #E64A19;
}

.seperation2 {
    border: 2px solid black;
    margin-top: 20px;
}


@media (min-width: 1000px) {
    .MM-definition {
        width: 600px;
        font-size: 25px;
        line-height: 35px;
    }
    .RMM-explan-formula {
        width: 600px;
        font-size: 25px;
        line-height: 35px;
    }
    .defined-RMM {
        width: 600px;
        font-size: 25px;
    }
    .defining-RAM-conclude p {
        margin: 0px;
        width: 600px;
        font-size: 25px;
    }
    .defining-RAM {
        margin-top: 5px;
        width: 550px;
        font-size: 25px;
        background-color: #f7977a;
        padding: 20px;
    }
    .carbon-12-scale {
        width: 600px;
        font-size: 25px;
    }
    .RAM-formula-conclude-continue {
        width: 600px;
        font-size: 25px;
    }

    .RAM-formula-conclude {
        width: 600px;
        font-size: 25px;
    }
    .RAM-container {
        width: 600px;
        margin-top: 30px;
    }
    .main-meaning-of-mole-conclude {
        width: 600px;
        line-height: 36px;
    }
    .main-meaning-of-mole {
        font-size: 25px;
        width: 600px;
    }
    .mole-definition {
        margin: 30px 0px;
        width: 550px;
        font-size: 25px;
        padding: 20px;
        background-color: #eb6b45;
    }
    .studies-content-pt1-text {
        width: 600px;
    } 
}
@media (max-width: 791px) {
    .studies-header p {
        font-size: 35px;
    }
}


@media (max-width: 1490px) {
    .studies-content-container {
        display: flex;
        flex-wrap: wrap;
    }
    .seperation {
        display: none;
    }
    .studies-content-pt2 {
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 40px;
    }
    .studies-content-pt1 {
        margin-right: 50px;
        margin-left: 50px;
    }
    /* .MM-definition {
        width: 600px;
        font-size: 15px;
        line-height: 35px;
    }
    .RMM-explan-formula {
        width: 600px;
        font-size: 15px;
        line-height: 35px;
    }
    .defined-RMM {
        width: 600px;
        font-size: 15px;
    }
    .defining-RAM-conclude p {
        margin: 0px;
        width: 600px;
        font-size: 15px;
    }
    .defining-RAM {
        margin-top: 5px;
        width: 550px;
        font-size: 15px;
        background-color: #f7977a;
        padding: 20px;
    }
    .carbon-12-scale {
        width: 600px;
        font-size: 15px;
    }
    .RAM-formula-conclude-continue {
        width: 600px;
        font-size: 15px;
    }

    .RAM-formula-conclude {
        width: 600px;
        font-size: 15px;
    }
    .RAM-container {
        width: 600px;
        margin-top: 30px;
    }
    .main-meaning-of-mole-conclude {
        width: 600px;
        line-height: 36px;
    }
    .main-meaning-of-mole {
        font-size: 15px;
        width: 600px;
    }
    .mole-definition {
        margin: 30px 0px;
        width: 550px;
        font-size: 25px;
        padding: 20px;
        background-color: #eb6b45;
    }
    .studies-content-pt1-text {
        width: 600px;
    }  */
}



.studies-container2 {
    margin-top: 50px;
    min-width: 791px;
    display: flex;
    justify-content: center;
}
.AC-container {
    width: 600px;
}
.AC-container h2 {
    margin: 0px;
}
.AC-explands p {
    margin: 0px;
    font-size: 25px;
    width: 600px;
}
.AC-formula {
    margin-top: 10px;
    margin-bottom: 40px;
}
.divide-layer.ed {
    position: relative;
    left: 40px;
    width: 300px;
}
.AC-explands-conclude1 {
    margin-top: 25px;
}
.AC-explands-conclude1 b {
    color: #E64A19;
}
.AC-explands-conclude1 .form {
    color: black;
}
.AC-definition {
    margin-top: 20px;
    background-color: #f7977a;
    padding: 10px;
}
.example-of-RMM {
    margin-top: 50px;
}
.example-of-RMM-header b {
    font-size: 35px;
    color: #E64A19;
    text-transform: uppercase;
}
.example-of-RMM-header h1 {
    margin: 0px;
    color: #E64A19;
}
.main-example-container {
    margin-top: 50px;
}
.main-example-header {
}
.main-example-explan {
    border: 1px solid orange;
}
.main-example-explan span {
    margin-left: 20px;
}
.main-example {
    line-height: 30px;
}
.main-example p {
    font-size: 23px;
}
.answer-header {
    margin-top: 20px;
}
.main-answer {
    line-height: 35px;
    padding: 20px;
}
.main-answer span {
    background-color: #f7977a;
}
.main-answer p {
    font-size: 23px;
}
.main-answer b {
    margin-left: 35px;
}

.seq-container {
    width: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: black;
    margin-top: 50px;
}
.seq-container p {
    text-transform: uppercase;
    color: #E64A19;
}
.main-seq-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.main-seq-container p {
    font-size: 22px;
}
.main-seq-pt1 {
    width: 180px;
}
.main-seq-pt2 {
    width: 200px;
}
.main-seq-pt3 {
    width: 180px;
}


.calculation-of-amount-of-substance-container {
    margin-top: 50px;
}
.calculation-of-amount-of-substance-header h1 {
    color: #E64A19;
    margin: 0px;
}
.calculation-of-amount-of-substance-header b {
    font-size: 35px;
}
.calculation-of-amount-of-substance-explan p {
    font-size: 22px;
}
.calculation-of-amount-of-substance-explan span {
    color: #E64A19;
}

.AC-container-continue {
    width: 600px;
}
.calculation-of-amount-of-substance-explan-continue {
    font-size: 22px;
}
.calculation-of-amount-of-substance-explan-continue imp {
    color: #E64A19;
}
.calculation-of-amount-of-substance-formula-container {
    font-size: 23px;
    padding: 10px;
    margin-top: 20px;
    background-color: #FF8A65;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.given-molar-mole {
    text-align: center;
}
.given-molar-mole .divide-layer {
    width: 110px;
}

.condition-formulas {
    margin-top: 10px;
    font-size: 20px;
    padding-left: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.condition-formulas-pt1 {
    margin-left: 10px;
}
.condition-formulas-pt1 .divide-layer {
    width: 100px;
}
.mass-formula {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}
.main-mass-formula {
    font-size: 22px;
    padding: 10px 0px;
    text-align: center;
    width: 300px;
    background-color: #FF8A65;
}

.calculation-of-amount-of-substance-example {
    border: 1px solid #E64A19;
    margin-top: 40px;
}
.calculation-of-amount-of-substance-headind {
    font-size: 20px;
}
.main-calculation-of-amount-of-substance-qut {
    font-size: 20px;
}
.main-calculation-of-amount-of-substance-qut imp {
    margin-left: 20px;
}
.calculation-of-amount-of-substance-answer {
    font-size: 20px;
}
.calculation-of-amount-of-substance-answer imp {
    margin-left: 50px;
}
.calculation-of-amount-of-substance-answer span {
    margin-left: 50px;
}
.exercise {
    margin-top: 100px;
}
.exercise .seq-container {
    font-size: 23px;
    margin: 0px;
}
.main-exercise {
    font-size: 22px;
    line-height: 30px;
}
.main-exercise span {
    margin-left: 20px;
}
@media (max-width: 1490px) {
    .AC-container {
        margin-right: 50px;
    }
    .AC-container-continue {
        margin-left: 50px;
    }
    .studies-container2 {
        display: flex;
        flex-wrap: wrap;
    }
    .seperation2 {
        display: none;
    }
}